%h2.jumbotron Grow your own higher education through social networks.

%h3 How to use Studygroup:
%h4 Tag your profile with interests and see people learning about the same subject in your area. 
%h4 Publish where and what you're studying. Meet people to study with. Organize a class. 
%h4 Get unlimited course selection on the internet. Get ultra-small "class sizes" locally.
%h4 Higher education is more expensive every year. Your education is not!

%h3
  Get an account

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  
  %div.field
  = f.label :city_id, "City"
  = f.select :city_id, City.all.collect {|c| [c.name, c.id]}, {}


  %div.field
    = f.label :email
    = f.email_field :email, autofocus: true
  
  %div.field
    = f.label :first_name, "First name"
    = f.text_field :first_name, autofocus: true
  %div.field
    = f.label :last_name, "Last name"
    = f.text_field :last_name, autofocus: true

  %div.field
    = f.label :tag_list
    %br
    = f.text_field :tag_list, placeholder: "e.g. web development, japanese, bioinformatics, what you're learning", autofocus: true, size: "65x2"

  %div.field
    = f.label :description
    %br
    = f.text_area :description, autofocus: true, placeholder: "About me", size: "65x3"
  
  %div.field
    = f.label :password
    %em
      (
      = @minimum_password_length
      characters minimum)
    %br
    = f.password_field :password, autocomplete: "off"

  %div.field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"

  %div.actions
    = f.submit "Sign up", class: "btn btn-lg btn-success"