= link_to "I'm studying now", new_event_path, class: "btn btn-primary"
= link_to "Create events", new_event_path, class: "btn btn-primary"
= link_to "Find events", events_path, class: "btn btn-primary"
= link_to "Find users", users_path, class: "btn btn-primary"

%h5
  My tags:
  = raw current_user.tags.map(&:name).map { |t| link_to t, users_path(:tag => t), class: "bg-info" }.join(', ')