- if current_user.no_tags?
  %h4
    = link_to "To get started, ust add interest tags so people with the same interests can find you", edit_user_path(current_user), class: "bg-warning"
- else
  %h5
    Find users by tag:
    = raw current_user.tags.map(&:name).map { |t| link_to t, users_path(:tag => t), class: "bg-info" }.join(', ')

= form_for(@invitation) do |f|
  = f.text_field :email, placeholder: "name@email.com"
  = f.submit "Invite a friend", class: "btn btn-success"

- if @feed_items.blank?
  %h4
    Check out who's studying in
    = current_user.city.name
  %h4
    %ul
      %li 
        = link_to "Users", users_path
      %li 
        = link_to "Events", events_path 
- else
  - @feed_items.each do |event|
    %h5
      = gravatar_for(event.creator, size: 35)
      = current_user?(event.creator) ? "You" : event.creator.full_name 
      created
      = link_to event.title, event_path(event)
      \- for
      = event.pretty_time