= form_for(@user) do |f|
  = f.label :first_name
  </br>
  = f.text_field :first_name
  </br>
  = f.label :last_name
  </br>
  = f.text_field :last_name
  </br>
  = f.label :city_id, "City"
  = f.select :city_id, City.all.collect {|c| [c.name, c.id]}, {}
  </br>
  = f.label :tag_list, "Tags (separated by commas)"
  </br>
  = f.text_field :tag_list
  </br>
  = f.label :description
  </br>
  = f.text_area :description, size: "30x4"
  </br>
  = f.submit "Submit"