%h1 
  Users
%h5 
  Filter by my tags:
  = raw current_user.tags.map(&:name).map { |t| link_to t, users_path(:tag => t), class: "bg-info" }.join(', ')

- @users.each do |user|
  %h4
    = gravatar_for(user, size: 40)
    = user.full_name
    \-
    = user.city.name
    \-
    = link_to "Profile", user_path(user)
  %h5
    \ Tags:
    = raw user.tags.map(&:name).map { |t| link_to t, users_path(:tag => t), class: "bg-info" }.join(', ')