%h1
  = gravatar_for(@user, size: 50)
  = @user.full_name
= link_to "Edit my profile", edit_user_path(current_user)
%h5 Description:
%p
  = @user.description
%h5
  Tagged Interests:
  = raw @user.tags.map(&:name).map { |t| link_to t, users_path(:tag => t), class: "bg-info" }.join(', ')
%h5 
  Location:
  = @user.city.name
%h5 Friends:
%h5 Contact Information:
%h5 Attending Events:
%ul
  - @user.attended_events.each do |event|
    %li
      = event.title
%h5 Created Events:
%ul
  - @user.created_events.each do |event|
    %li
      = event.title