/ Heading

%h1
  = gravatar_for(@user)
  = @user.full_name
- if current_user? @user
  = link_to "Edit my profile", edit_user_path(current_user)
%h4 
  = simple_format @user.description

/ Friend Requests

= render partial: 'shared/friendship_requests'
    
/ Details

%h5
  Tagged Interests:
  = raw @user.tags.map(&:name).map { |t| link_to t, users_path(:tag => t), class: "bg-info" }.join(', ')
%h5 
  Location:
  = @user.city.name
%p 
  Friends:  
  = raw @friends.map {|f| link_to f.full_name, user_path(f)}.join(', ')
  
%h5 Contact Information:

/ Events for User

%h5 Attending Events:
%ul
  - @user.attended_events.each do |event|
    %li
      = link_to event.title, event_path(event)
%h5 Created Events:
%ul
  - @user.created_events.each do |event|
    %li
      = link_to event.title, event_path(event)