<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Studygroup", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "Post an Event", new_event_path %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.pending_frequests.any? %>
        <li class="notifications-flag"><%= link_to friendship_requests_path, class: "notifications-flag" do %>
    <span class="glyphicon glyphicon-comment"></span>
           <% end %></li>
        <% end %>
        <li><%= link_to gravatar_for(current_user, size: 20), user_path(current_user) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
            <li><%= link_to "Getting started", getting_started_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Account settings", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Getting started", getting_started_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>