%h1 Events
%h5 
  Filter by my tags:
  = raw current_user.tags.map(&:name).map { |t| link_to t, events_path(:tag => t), class: "bg-info" }.join(', ')
= link_to "Create an Event", new_event_path, class: "btn btn-sm btn-primary"

- @events.each do |event|
  %h4
    = event.title
    \-
    = event.city.name
    \-
    = link_to "See Event", event_path(event)
  %h6
    = event.pretty_time
  %h5
    = raw event.tags.map(&:name).map { |t| link_to t, events_path(:tag => t), class: "bg-info" }.join(', ')
  