%h1 Events

- @events.each do |event|
  %h4
    = event.title
  %p
    = event.description
  %p
    Start:
    = event.start_time
  %p
    End:
    = event.end_time
  %p
    Event Id:
    = event.id
  %p
    Event City Id
    = event.city.id
  