%h1 Events

- @events.each do |event|
  %h4
    = event.title
    \-
    = event.city.name
    \-
    = link_to "See Event", event_path(event)
  
  %p
    Start:
    = event.start_time
    End:
    = event.end_time
  