%h1 Events
= link_to "Create an Event", new_event_path

- @events.each do |event|
  %h4
    = event.title
    \-
    = event.city.name
    \-
    = link_to "See Event", event_path(event)
  %h5
    = raw event.tags.map(&:name).map { |t| link_to t, events_path(:tag => t) }.join(', ')
  %p
    Start:
    = event.start_time
    End:
    = event.end_time
  