- if current_user.no_tags?
  %h4
    = link_to "To get started, just add interest tags and start finding events", edit_user_path(current_user), class: "bg-warning"
- else
  %h5
    Events in
    = @current_city.name
    \- Filter:
    = raw current_user.tags.map(&:name).map { |t| link_to t, events_path(:tag => t), class: "bg-info" }.join(', ')

= form_for(@invitation) do |f|
  = f.text_field :email, placeholder: "name@email.com"
  = f.submit "Invite a friend", class: "btn btn-success"

- @events.each do |event|
  
  %h4
    %span.glyphicon.glyphicon-map-marker
    = link_to event.title, event_path(event)
    |
    = event.pretty_time
  %h5
    = raw event.tags.map(&:name).map { |t| link_to t, events_path(:tag => t), class: "bg-info" }.join(', ')
  