%h3 What are you working on?

= form_for(@event) do |f|
 = f.label :title
 </br>
 = f.text_field :title, size: "50", placeholder: "A short title for your event"
 </br>
 = f.label :description, "Description"
 </br>
 = f.text_area :description, size: "50x2", placeholder: "Add details for people joining you"
 </br>
 = f.label :tag_list, "Add interest tags"
 </br>
 = f.text_field :tag_list, size: "50", placeholder: "Tags (separated by commas)"
 </br> 
 = f.label :start_time
 = f.datetime_select :start_time, ampm: true, default: 24.hours.from_now, minute_step: 15
 </br>
 = f.label :end_time
 = f.datetime_select :end_time, ampm: true, default: 24.hours.from_now, minute_step: 15
 </br>
 = f.submit "Publish", class: "btn btn-success"
 