!!! HTML
%html
  %head
    %title Studygroup
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  
  = link_to 'Sign In', new_user_session_path
  = link_to 'Sign Up', new_user_registration_path
  = link_to 'Sign Out', destroy_user_session_path, method: :delete

%h4
  Signed in as
  = full_name current_user
= yield